{% extends 'base.html.twig' %}
{% block content %}
	<h1>Страница книги</h1>
	{% if bookId %}
		<a class='btn btn-danger' href='{{ path('remove_book', { 'id': bookId }) }}'>Удалить</a>
	{% endif %}
	{{ form(bookForm) }}
{% endblock %}